@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:100,200,300,400,500,600,700,800,900");
body {
  font-family: 'Encode Sans Expanded', sans-serif;
  min-width: 340px; }

html {
  font-size: 1px; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

h1 {
  font-size: 48rem; }

h2 {
  font-size: 40rem; }

h3 {
  font-size: 32rem; }

h4 {
  font-size: 24rem; }

h5 {
  font-size: 18rem; }

h6 {
  font-size: 13rem; }

p {
  font-size: 16rem; }

a {
  font-size: 13rem; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

[class*='__col'] {
  padding-left: 15px;
  padding-right: 15px; }

[class*='__flex'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.container {
  width: 1230px;
  height: 100%; }

a, input[type="submit"], button {
  -webkit-transition: ease .3s all;
  transition: ease .3s all;
  text-decoration: none; }

.header {
  height: 110px;
  background-color: #3B10A8; }
  .header__flex {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-beetween;
    -webkit-justify-content: space-beetween;
        -ms-flex-pack: space-beetween;
            justify-content: space-beetween; }
  .header__col_1 {
    -webkit-flex-basis: 24.99999%;
        -ms-flex-preferred-size: 24.99999%;
            flex-basis: 24.99999%; }
  .header__col_2 {
    -webkit-flex-basis: 41.66665%;
        -ms-flex-preferred-size: 41.66665%;
            flex-basis: 41.66665%;
    margin-left: 8.33333%; }
  .header__col_3 {
    -webkit-flex-basis: 16.66666%;
        -ms-flex-preferred-size: 16.66666%;
            flex-basis: 16.66666%;
    margin-left: 8.33333%;
    padding-left: 0; }

.logo {
  font-size: 48rem;
  line-height: 65px;
  height: 65px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #1F57D7;
  color: #fff; }

.nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav li a {
  display: inline-block;
  background-color: transparent;
  color: #CECFEC;
  font-size: 13rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 40px;
  -webkit-border-radius: 20px;
          border-radius: 20px; }

.nav li.active a {
  background-color: #2038AB; }

.free-consultation {
  text-align: center; }
  .free-consultation__row_1 {
    margin-bottom: 10px; }

.phone {
  font-size: 0;
  color: #FFFFFF;
  font-weight: 600; }
  .phone__regular {
    font-weight: 400; }
  .phone__ico {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px; }
  .phone__text {
    display: inline-block;
    vertical-align: middle;
    font-size: 18rem; }

.btn {
  width: 100%;
  display: block;
  font-size: 13rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  height: 45px;
  line-height: 45px; }
  .btn_white {
    background-color: #fff;
    color: #2054D5; }

.breadcrumbs ul {
  font-size: 0; }
  .breadcrumbs ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    font-size: 12rem; }
    .breadcrumbs ul li:after {
      content: ">";
      font-size: inherit;
      display: inline-block;
      vertical-align: middle;
      margin-left: 9px;
      color: #000000; }
    .breadcrumbs ul li:last-child:after {
      display: none; }
    .breadcrumbs ul li a {
      font-size: inherit;
      display: inline-block;
      color: #000000; }
    .breadcrumbs ul li.active a {
      color: #126ee7;
      border-bottom: 2px solid #C9D7F7; }

.content__breadcrumbs {
  margin-top: 10px; }

.content__body {
  padding-top: 100px; }

.contact-us__title {
  text-align: center; }

.contact-us__col_1 {
  -webkit-flex-basis: 41.66665%;
      -ms-flex-preferred-size: 41.66665%;
          flex-basis: 41.66665%; }

.contact-us-form__title {
  font-weight: 300;
  text-align: center; }

.form__group {
  margin-bottom: 20px; }
  .form__group_horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .form__group_horizontal .form__group-col-1 {
      -webkit-flex-basis: 41.66665%;
          -ms-flex-preferred-size: 41.66665%;
              flex-basis: 41.66665%;
      padding-right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .form__group_horizontal .form__group-col-2 {
      -webkit-flex-basis: 58.33331%;
          -ms-flex-preferred-size: 58.33331%;
              flex-basis: 58.33331%;
      padding-right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .form__group_half {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .form__group_half .form__group-col-1 {
      -webkit-flex-basis: 49.99998%;
          -ms-flex-preferred-size: 49.99998%;
              flex-basis: 49.99998%;
      padding-right: 15px; }
    .form__group_half .form__group-col-2 {
      -webkit-flex-basis: 49.99998%;
          -ms-flex-preferred-size: 49.99998%;
              flex-basis: 49.99998%;
      padding-left: 15px; }

.form__label {
  font-size: 16rem;
  color: #222222;
  padding-left: 20px; }

.form__textarea {
  background-color: #fff;
  border: 2px solid #CBDEF9;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: none;
  font-size: 14rem;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 30px; }
  .form__textarea-wrap {
    width: 100%;
    position: relative; }
    .form__textarea-wrap_mt {
      margin-top: 10px; }
    .form__textarea-wrap:after {
      content: "";
      background-image: url(../img/textarea.png);
      width: 24px;
      height: 24px;
      position: absolute;
      top: 15px;
      right: 15px;
      display: block;
      background-repeat: no-repeat; }

.form__input {
  background-color: #fff;
  border: 2px solid #CBDEF9;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  resize: none;
  outline: none;
  font-size: 14rem;
  padding-left: 15px;
  padding-right: 30px; }
  .form__input-wrap {
    width: 100%;
    position: relative; }
    .form__input-wrap_mt {
      margin-top: 10px; }
    .form__input-wrap:after {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 15px;
      display: block;
      background-repeat: no-repeat; }
    .form__input-wrap_calc:after {
      background-image: url(../img/calc.png); }
    .form__input-wrap_user:after {
      background-image: url(../img/user.png); }

@media screen and (max-width: 1200px) {
  html {
    font-size: 0.9px; } }

@media screen and (max-width: 992px) {
  html {
    font-size: 0.8px; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.7px; } }
