@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:100,200,300,400,500,600,700,800,900');
body {
	font-family: 'Encode Sans Expanded', sans-serif;
	min-width: 340px;
}

html {
	font-size: 1px;
}
h1,h2,h3,h4,h5,p {
	margin: 0;
}
h1 {
	font-size: 48rem;
}
h2 {
	font-size: 40rem;
}
h3 {
	font-size: 32rem;
}
h4 {
	font-size: 24rem;
}
h5 {
	font-size: 18rem;
}
h6 {
	font-size: 13rem;
}
p {
	font-size: 16rem;
}
a {
	font-size: 13rem;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
* {
	box-sizing: border-box;
}

[class*='__col'] {
	padding-left: 15px;
	padding-right: 15px;
}
[class*='__flex'] {
	display: flex;
	height: 100%;
}
.container {
	width: 1230px;
	height: 100%;
}
a, input[type="submit"], button {
	transition: ease .3s all;
	text-decoration: none;
}
 
$col: 8.33333%; 

.header {
	height: 110px; 
	background-color: #3B10A8;
	&__flex {
		align-items: center;
		justify-content: space-beetween;
	}
	&__col { 
		&_1 {
			flex-basis:$col * 3;
		}
		&_2 {
			flex-basis:$col * 5;
			margin-left: $col;
		}
		&_3 {
			flex-basis:$col * 2;
			margin-left: $col;
			padding-left: 0;
		}
	}
}
.logo {
	font-size: 48rem;
	line-height: 65px;
	height: 65px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #1F57D7;
	color: #fff;
}
 
.nav {
	ul {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
	}
	li {
		a {
			display: inline-block;
			background-color: rgba(0,0,0,0);
			color: #CECFEC;
			font-size: 13rem;
			font-weight: 600;
			text-transform: uppercase;
			padding-left: 15px;
			padding-right: 15px;
			line-height: 40px;
			border-radius: 20px;
		}
		&.active a{
			background-color: #2038AB;
		}
		&:hover a {

		}
	}
}

.free-consultation {
	text-align: center;
	&__row {
		&_1 {
			margin-bottom: 10px;
		}
	}
}
.phone {
	font-size: 0;
	color: #FFFFFF;
	font-weight: 600;
	&__regular {
		font-weight: 400;
	}
	&__ico {
		display: inline-block;
		vertical-align: middle;
		margin-right: 7px;
	}
	&__text {
		display: inline-block;
		vertical-align: middle;
		font-size: 18rem;
	}
}

.btn {
	width: 100%;
	display: block;
	font-size: 13rem;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	border-radius: 20px;
	height: 45px;
	line-height: 45px;
	&_white {
		background-color: #fff;
		color: #2054D5;
	}
}
 

.breadcrumbs {
	ul {
		font-size: 0;
		li {
			display: inline-block;
			vertical-align: middle;
			margin-right: 9px;
			font-size: 12rem;
 			&:after {
				content: ">";
				font-size: inherit;
				display: inline-block;
				vertical-align: middle;
				margin-left: 9px;
				color: #000000; 
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			a {
				font-size: inherit;
				display: inline-block;
				color: #000000;
			}
			&.active a {
				color: #126ee7;
				border-bottom: 2px solid #C9D7F7;
			}
		}
	}
}

.content {
	&__breadcrumbs {
		margin-top: 10px;
	}
	&__body {
		padding-top: 100px;
	}
}

.contact-us {
	&__title {
		text-align: center;

	}
	&__col {
		&_1 {
			flex-basis:$col * 5;
		}
	}
}

.contact-us-form {
	&__title {
		font-weight: 300;
		text-align: center;
	}
}
.form {
	&__group {
		margin-bottom: 20px;
		&_horizontal {
			display: flex;
			.form__group-col-1 {
				flex-basis:$col * 5;
				padding-right: 0;
				display: flex;
				align-items: center;

			}
			.form__group-col-2 {
				flex-basis:$col * 7;
				padding-right: 0;
				display: flex;
				align-items: center;
			}
		}
		&_half {
			display: flex;
			.form__group-col-1 {
				flex-basis:$col * 6;
				padding-right: 15px;

			}
			.form__group-col-2 {
				flex-basis:$col * 6;
				padding-left: 15px;
			}
		}
	}
	&__label {
		font-size: 16rem;
		color: #222222;
		padding-left: 20px;
	}
	&__textarea {
		&-wrap {
			width: 100%;
			position: relative;
			&_mt {
				margin-top: 10px;
			}
			&:after {
				content: "";
				background-image: url(../img/textarea.png);
				width: 24px;
				height: 24px;
				position: absolute;
				top: 15px;
				right: 15px;
				display: block;
				background-repeat: no-repeat;
			}
		}
		background-color: #fff;
		border: 2px solid #CBDEF9;
		border-radius: 25px;
		height: 100px;
		width: 100%;
		resize: none;
		outline: none;
		font-size: 14rem;
		padding-left: 15px;
		padding-top: 15px;
		padding-right: 30px;
	}
	&__input {
		&-wrap {
			width: 100%;
			position: relative;
			&_mt {
				margin-top: 10px;
			}
			&:after {
					content: "";
					width: 24px;
					height: 24px;
					position: absolute;
					top: 50%; 
					transform:translateY(-50%);
					right: 15px;
					display: block;
					background-repeat: no-repeat;
			}
			&_calc {
				&:after {
					background-image: url(../img/calc.png);
				}
			}
			&_user {
				&:after {
					background-image: url(../img/user.png);
				}
			}
		}
		background-color: #fff;
		border: 2px solid #CBDEF9;
		border-radius: 25px;
		height: 50px;
		line-height: 50px;
		width: 100%;
		resize: none;
		outline: none;
		font-size: 14rem;
		padding-left: 15px;
		padding-right: 30px;
	}
}
@media screen and (max-width: 1200px) {
	html {
		font-size: 0.9px;
	}
}  
@media screen and (max-width: 992px) {
	html {
		font-size: 0.8px;
	}
} 
@media screen and (max-width: 768px) {
	html {
		font-size: 0.7px;
	}
} 
